@import './styles/fonts.css';
@import 'tailwindcss';

@theme static {
  /* Colors */
  --color-green: #00FF6A;
  --color-cream: #FFFEF4;
  --color-grey: #909090;
  --color-black: #000000;
  --color-red: #FF0000;
  --color-black-shade: #030010;

  --color-surface: var(--color-cream);
  --color-background: var(--color-black-shade);

  --color-text: var(--color-cream);
  --color-text-secondary: var(--color-grey);
  --color-text-tertiary: var(--color-green);
  --color-text-dark: var(--color-black);

  --color-heading: var(--color-cream);
  --color-heading-secondary: var(--color-grey);
  --color-heading-tertiary: var(--color-green);

  --color-border-default: var(--color-cream);
  --color-border-success: var(--color-green);
  --color-border-error: var(--color-red);

  --color-accent: var(--color-green);
  --color-error: var(--color-red);

  /* Fonts */
  --font-heading: 'Neue Montreal', sans-serif;
  --font-heading-secondary: 'MessinaSansMono', monospace;
  --font-body: 'Neue Montreal', sans-serif;
  --font-mono: 'MessinaSansMono', monospace;
}

@utility font-heading {
  font-family: var(--font-heading);
}

@utility font-heading-secondary {
  font-family: var(--font-heading-secondary);
}

@utility font-body {
  font-family: var(--font-body);
}

@utility font-mono {
  font-family: var(--font-mono);
}

@layer base {
  body {
    @apply font-body text-text bg-background min-h-screen leading-relaxed;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-heading;
  }
}
